# Virtual envs
.venv/

# IDE
.vscode/

# Data & outputs
datasets/
FINAL_MODELS/
EXPERIMENTS/

# Python cache (recursive — covers ALL folders)
__pycache__/
*.py[cod]

# Optional but recommended
*.egg-info/
dist/
build/